@r:50rem;
*{margin: 0;padding: 0}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  font-family:"Microsoft YaHei";
  position: relative;
}
input:disabled, input[disabled],textarea:disabled{
  color: #666;
  -webkit-text-fill-color:#666;
  -webkit-opacity:1;
  opacity: 1;
}

input:focus{
  color:#574e5f;
  caret-color:#574e5f;
}
textarea{
  border-radius: 0;
 /* resize:none;*/
}
input{
  border-radius: 0;
  caret-color:#574e5f;
  -webkit-appearance: none;
  background:none;
  outline:none;
  border: none;
  line-height: normal;
  height: 80/@r;
  font-size: 30/@r;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

/*基本信息*/
.formValidation h2{
  font-size: 32/@r;
  font-weight: 400;
  color: #333;
  margin-top: 64/@r;
  margin-left: 30/@r;
  margin-bottom: 35/@r;
}
.formValidation label,.educationTable div, .work div, .skill div{
  width: 720/@r;
  font-size: 30/@r;
  color: #573e5f;
  margin-left: 30/@r;
  height: 88/@r;
  line-height: 88/@r;
  display: inline-block;
  border-bottom: 1px solid #d4d4d4;
}
.basic, .education,.workExperience,.skillInformation{
  border-bottom:1px solid #d4d4d4;
}

.basic img,.education img,.workExperience img,.skillInformation img{
  float: left;
  width: 364/@r;
  height: 55/@r;
  margin: 16/@r 0;
}
.education strong,.workExperience strong{
  float: right;
  font-size: 20/@r;
  margin-top: 46/@r;
  margin-right: 20/@r;
  color: #bfbfbf;
}
#mesCodeLabel {
  width: 9.3rem;
  border-bottom: none;
}

.formValidation form label span{
  margin-right: 116/@r;
}
.inpId{
  margin-right: 20/@r!important;
}
.school{
  margin-right: 50/@r!important;
}
.salary, .atSalary, .jobInterview, .inpTel{
  margin-right: 50/@r!important;
}
#validateCode{
  width: 240/@r;
}
#deForm .msCode{
  margin-right: 20/@r;
}
.formValidation .mesBtn{
  display: inline-block;
  width: 186/@r;
  height: 58/@r;
  line-height: 58/@r;
  margin-left: 8/@r;
  border: 1px solid #03aaad;
  border-radius: 10/@r;
  color: #03aaad;
  font-size: 26/@r;
  background: #fff;
  outline: none;
}
.formValidation label input{
  border: none;
  height: 80/@r;
  outline: none;
  font-size: 30/@r;
  color: #666;
}
::-webkit-input-placeholder{
  font-size: 28/@r;
  color: #c0c0c0;
}
.isDimission,.identity{
  line-height: 88/@r;
  font-size: 32/@r;
  color: #573e5f;
  margin-left: 30/@r;
  height: 88/@r;
  border-bottom: 1px solid #d4d4d4;
}
/*.isDimission{
  display: none;
}*/
.isDimission .radioS{
  margin-right: 50/@r;
}
.identity span{
  margin-right: 100/@r;
}
.isDimission label{
  width: 110/@r;
  height: 60/@r;
  color: #573e5f;
  margin-left: 0;
  line-height: 0;
  display: inline-block;
  border-bottom: none;
}
.identity label{
  width: 150/@r;
  height: 60/@r;
  color: #573e5f;
  margin-left: 0;
  line-height: 0;
  display: inline-block;
  border-bottom: none;
}
.isDimission input,.identity input{
  display:none;opacity:0;
}
.isDimission input[type=radio]+label:before,.identity input[type=radio]+label:before{
  display: inline-block;
  width: 31/@r;
  height: 31/@r;
  content: '';
  background: url("../images/radion.png")no-repeat;
  background-size: 31/@r 30/@r;
}
.isDimission input[type=radio]:checked+label:before,.identity input[type=radio]:checked+label:before{
  content:' ';
  background: url("../images/radio.png")no-repeat;
  background-size: 31/@r 30/@r;
}
.upBasic{
  line-height: 102/@r;
  font-size: 30/@r;
  color: #bfbfbf;
  text-align: center;
  padding-top: 20/@r;
}
/*基本信息收起时*/
.upB{
  line-height: 78/@r;
  padding-top: 50/@r;
}
.upName{
  padding-left: 30/@r;
  font-size: 32/@r;
  color: #574e5f;
  margin-right: 54/@r;
}
.upNames{
  font-size: 30/@r;
  color: #666666;
}
/*教育信息*/
.lineSpacingE,.lineSpacingS,.lineSpacingW,.septal-line{
  height: 22/@r;
  background: #ebf0f2;
}
.educate,.workTitle{
  display: none;
}
.educate,.educateS,.workTitle,.workTitleS{
  margin-left: 30/@r;
  font-size: 32/@r;
  margin-top: 10/@r;
}
.educate i,.educateS i,.workTitle i,.workTitleS i{
  float: left;
  background:#00adb4 ;
  width: 14/@r;
  height: 14/@r;
  margin: 33/@r 12/@r 33/@r 0;
}
.educate span,.educateS span,.workTitle span,.workTitleS span{
  float: left;
  margin: 24/@r 0;
  line-height:32/@r;
}
.deleteBtn,.deleteBtnW{
  float: right;
  width: 186/@r;
  height: 58/@r;
  line-height: 58/@r;
  border: 1px solid #03aaad;
  border-radius: 10/@r;
  color: #03aaad;
  font-size: 26/@r;
  background: #fff;
  margin: 16/@r 30/@r 16/@r 0;
}
.educationTable div span{
  margin-right: 50/@r;
}
.educationTable .career, .educationTable .edu,.educationTable .specialty{
  margin-right: 112/@r;
}
.educationTable,.work{
  border-top:22/@r solid #ebf0f2 ;
}
.educationTable1,.work1{
  border-top:none;
}
.upEducation,.upSkill{
  line-height: 102/@r;
 /* border-bottom: 1px solid #d4d4d4 ;*/
  font-size: 30/@r;
  color: #bfbfbf;
  text-align: center;
  padding-top: 40/@r;
}

.upEducation img, .upWorkExperience img,.upSkill img{
  width: 236/@r;
  height: 31/@r;
}
/*收起时教育信息*/
.upE{
  padding-top: 40/@r;
}
.upE .ed{
  font-size: 32/@r;
  color: #574e5f;
  margin-left: 30/@r;
  margin-right: 54/@r;
}
.upE .schName{
  font-size: 30/@r;
  color: #666;
}
/*工作经历*/


.upWorkExperience{
  line-height: 102/@r;
  font-size: 30/@r;
  color: #bfbfbf;
  text-align: center;
  padding-top: 40/@r;
}
.upEducation p, .upWorkExperience p,.upBasic p{
  font-size: 32/@r;
  color: #bfbfbf;
}
.upBasic p{
  display: inline-block;
}
.upEducation p img, .upWorkExperience p img, .upBasic img,.upSkill p img{
  width: 24/@r;
  height: 13/@r;
}
.work div span,.skill div span{
  margin-right: 50/@r;
}
.work .certifierName,.work .certifierTel{
  margin-right: 20/@r;
}
.schoolMsg,.firmMsg{
  height: 110/@r!important;
  line-height:110/@r!important;
}
textarea{
  background: #f9f7f6;
  outline: none;
  font-size: 30/@r;
  vertical-align: middle;
  border: none;
  padding-top: 20/@r;
  font-family: Arial;
}
/*收起时工作经历*/
.upW,.upS{
  padding-top: 40/@r;
}
.upW .wk,.upS .sk{
  font-size: 32/@r;
  color: #574e5f;
  margin-left: 30/@r;
  margin-right: 54/@r;
}
.upW .wkName,.upS .skName{
  font-size: 30/@r;
  color: #666;
}
.cuttingLine{
  height: 22/@r;
  background: #ebf0f2;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
/*·········*/
.declare{
  margin-top: 40/@r;
}
.declare p{
  text-align: left;
  padding-left: 30/@r;
  color: #574e5f;
  line-height: 58/@r;
}
.declare p:nth-of-type(2){
  font-size: 32/@r;
  padding-right: 40/@r;
}
.sDeclare{
  font-size: 34/@r;

}
.footer{
  margin-top: 36/@r;
  text-align: center;
}
.footer .read{
  font-size: 28/@r;
  color: #999;
  padding-bottom: 10/@r;
}
.footer .agreement{
  font-size: 28/@r;
  color: #574e5f;
}
.input_check{
  visibility: hidden;
}
.checkS{
  vertical-align: -4/@r;
}
.input_check+label{
  display: inline-block;
  width: 29/@r;
  height: 29/@r;
  background: url("../images/checkedN.png")no-repeat;
  background-size: 29/@r 29/@r;

}
.input_check:checked+label{
  display: inline-block;
  width: 29/@r;
  height: 29/@r;
  background: url("../images/checkedY.png")no-repeat;
  background-size: 29/@r 29/@r;
}

#submit{
  width: 430/@r;
  height: 92/@r;
  background: #00adb4;
  font-size: 34/@r;
  color: #fff;
  border: none;
  border-radius: 60/@r;
  margin-bottom: 80/@r;
  outline: none;
}

/*签名*/
.signature{
  margin-top: 40/@r;
  margin-bottom: 70/@r;
}
.sName,.signatureData{
  float: left;
  font-size: 32/@r;
  color: #574e5f;
  text-align: left;
}
.sName{
  margin-left: 30/@r;
  margin-right: 30/@r;
}
.nameSpace,.dataSpace{
  display: inline-block;
  width: 248/@r;
  height: 80/@r;
  border-bottom: 1px solid #666;
  vertical-align: -10/@r;
}
.nameSpace img{
  width: 240/@r;
  height: 80/@r;
}
.dataSpace{
  position: relative;
}
.dataSpace p{
  position: absolute;
  margin-left: 20/@r;
  bottom: 2/@r;
}
.footerDeclare{
  height: 300/@r;
  background: #ebf0f2;
}
.footerDeclare p{
  float: left;
  font-size: 26/@r;
  color: #999;
  padding-top: 26/@r;
  padding-left: 130/@r;
}

.hint{
  width: 540/@r;
  padding: 0 80/@r;
  height: 80/@r;
  line-height: 80/@r;
  border-radius: 200/@r;
  text-align: center;
  background: #000;
  opacity: 0.7;
  color: #fff;
  font-size: 30/@r;
  display: none;
  position: fixed;
  left: 0;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 200px;
}

/*签名*/

#clearBtn,#saveBtn,#closeBtn{
  background: #fff;
  border:1px solid #ccc;
  padding: 6px 20px;
  border-radius: 4px;
  line-height: 1.42857143;
}

.htmleaf-container{
  display: none;
  z-index: 9999;
  position: fixed;
  top: 0;

}
.zhezhao,.zhezhaoL{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:#000;
  opacity:0.6;
  display: none;
  z-index: 9000;
}
.zhezhaoL{
  opacity:0.2;
}
.container{
   padding: 0!important;
 }
/*loading*/
#loading{
  position:fixed;
  top: 40%;
  left:50%;
  margin-left:-36px;
  z-index: 9992;
  display: none;
}

@-webkit-keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1); }

  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4); }

  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1); } }
@keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1); }

  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4); }

  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1); } }

.line-scale > div:nth-child(1) {
  -webkit-animation: line-scale 1s 0.1s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale 1s 0.1s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(2) {
  -webkit-animation: line-scale 1s 0.2s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale 1s 0.2s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(3) {
  -webkit-animation: line-scale 1s 0.3s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale 1s 0.3s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(4) {
  -webkit-animation: line-scale 1s 0.4s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale 1s 0.4s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(5) {
  -webkit-animation: line-scale 1s 0.5s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale 1s 0.5s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div {
  background-color: #019fe6;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
}

/*确认按钮*/
.finalCheck{
  width: 552/@r;
  height: 508/@r;
  border-radius: 25/@r;
  z-index: 9991;
  position:fixed;
  top: 30%;
  left:50%;
  margin-left:-276/@r;
  background: #fff;
  display: none;
}
.finalCheck img{
  width: 100%;
  height: 144/@r;
}
.finalCheck h2{
  font-size: 32/@r;
  text-align: center;
  margin-top: 20/@r;
  margin-bottom: 20/@r;
  color: #676767;
}
.finalCheck p{
  font-size: 34/@r;
  text-align: center;
  color: #3d3d3d;
  font-weight: bold;
  margin-bottom: 80/@r;
  padding: 0 20/@r;
}
.finalCheck button{
  width: 230/@r;
  height: 88/@r;
  outline: none;
  border: 0;
  border-radius: 10/@r;

}
.confirmBtn{
  background: #574e5f;
  margin-left: 37/@r;
  margin-right: 10/@r;
}
.cancelBtn{
  background: #fff;
  border: 1px solid #c69e56!important;
}
.errorShow{
  border-bottom: 1px solid #00adb4!important;
}