*{
    margin: 0;

}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
body{
    font-family:"Microsoft YaHei";
    font-size: 16px;
}
@media print {
    .pageBreak {
      page-break-after: always;
    }
    .noPrint {
      display: none;
    }
  }
h2{
    font-size: 16px;
}
.cover{
    width: 700px;
    margin: 0 auto;   
}
.cover .title{
    float: right;
    margin-top: 20px;
}
.cover .title p{
    height: 30px;
    line-height: 30px;
}
.cover .title p img{
    vertical-align: -8px;
}
.cover .title p span{
    line-height: 22px;
    font-size: 22px;
    font-weight: 500;
    padding: 6px 0;
}
.cover .column{
    padding-top: 200px;
    margin-left: 50px;
}
.column h1{
    font-weight: 500;
}
.column h1,.column p{
    color: #00adb4;
}
.cover .content{
    margin-top: 30px;
}
.verified span{
    display: inline-block;
    min-width: 100px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    background: #00adb4;
    border-radius: 70px;
    margin-top: 30px;
    padding: 6px 10px;

}
.cover ul{
    margin-top: 100px;
}
.cover  ul li{
    list-style: none;
    text-align: left;
    margin-bottom: 10px;
    line-height:30px;
}

.footer{
    width: 100%;
    text-align: center;
    background: #08b5bc;
    margin-top: 90px;
    margin-bottom: 20px;
    color: #fff;
}
.footer p{
    font-size: 16px;
    line-height: 16px;
    padding: 15px 0;
}
.wrap ul li{
    list-style: none;
    text-align: left;
    line-height:30px;
}
.wrap{
    width: 700px;
    margin: 0 auto;
}
.header h1{
    font-size: 26px;
    text-align: center;
    margin-bottom: 30px;
}
table{
    width: 700px;
    border-collapse:collapse;margin:0 auto;
    text-align: center;
    margin-bottom: 20px;
}
table tr{
    height: 46px;
}
th {
	text-align: center;
}
.identityCardPhoto img{
    width: 80px;
}
table tr td,table tr th{
    border: 1px solid #333;
}

.cell1{
    width: 150px; 
}
.cell2{
    width: 188px;
}
.cell3{
    width: 105px;
}
.cell4{
    width: 244px;
}

.explain p{
    font-size: 13px;
    padding: 0 10px;
    line-height:24px;
    text-align: left;
}
.explain .firstP{
    margin-bottom: 10px;
}
.explain p>img{
    width: 6px;
    margin-right: 6px;
}
.noWork p img{
    vertical-align: -6px;
}
.noWork img{
    width: 27px;
    height: 24px;
}
.button-style button{
    width: 90px;
    height: 30px;
    background: #24c9cf;
    font-size: 14px;
    color: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
}
.main1Warp{
    float: left;
    width: 175px;
    height: 175px;
}

#main1,#main2,#main3,#main4{
    width: 175px;
    height: 120px;
}
.evaluationRatio{
    width: 350px;
}
.evaluationRatio,.line,.evaluationResults{
    float: left;
}

.line{
    width: 1px;
    height: 60px;
    background: #666;
    margin-top: 116px;
}
.evaluationResults{
    padding-top: 50px;
    padding-left: 50px;
}
.evaluationResults p{
    text-align: left;
    font-weight: bold; 
    margin-bottom: 30px;
}
.evaluationResults ul{
    padding: 0;
}
.stateDescription>div{
    border: 1px solid #000;
    padding: 40px 0;
}
.stateDescription h1{
    text-align: center;
    margin-bottom: 20px;
}
.stateDescription>div>p {
    margin-bottom: 10px;
}
.stateDescription>div>p >span{
    display: inline-block;
    width: 150px;
    text-align: center;
    margin-right: 40px;
    color: #f6a129
}
.contentDescription>div{
    border: 1px solid #000;
    padding: 40px 20px;
}
.contentDescription>h1{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.contentDescription>div>p {
    font-size: 14px;
    color: #999;
    line-height: 1.8;
    padding: 0 10px;
    text-indent: 2em;
  }
  .contentDescription>div> p>span {
    text-align: center;
    padding: 0 2px;
    text-indent: 0;
    text-decoration: underline;
  }
  .arrError>img{
      width: 35px;
  }