*{
    margin: 0;

}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.cover .main ul li{
    list-style: none;
    text-align: left;
    margin-bottom: 10px;
    line-height:30px;
}
.cover{
    width: 900px;
    margin: 0 auto;
}
.cover .main{
    text-align: center;
    margin-top: 200px;
}
.cover .main h2{
    width: 105px;
    height: 44px;
    line-height:44px;
    font-size: 20px;
    display:inline-block;
    background: url("../images/coverTitle.png")no-repeat;
    background-size: 105px 44px;
    margin-top: 100px;
    margin-bottom: 250px;
}
.cover .main ul{
    padding-left: 200px;
}
.footer{
    width: 100%;
    height: 50px;
    line-height:50px;
    text-align: center;
    background: #00adb4;
    margin-top: 100px;
    margin-bottom: 50px;
}
.wrap ul li{
    list-style: none;
    text-align: left;
    line-height:30px;
}
.wrap{
    width: 900px;
    margin: 0 auto;
}
.header h1{
    font-size: 26px;
    text-align: center;
    margin-bottom: 30px;
}
table{
    width: 900px;
    border-collapse:collapse;margin:0 auto;
    text-align: center;
    margin-bottom: 20px;

}
table tr{
    height: 60px;
}
ul{
   margin: 10px 0;
}
table tr td,table tr th{
    border: 1px solid #333;
}
table tr td:nth-of-type(1),table tr th:nth-of-type(1){
    width: 20%;
}
table tr td:nth-of-type(2),table tr th:nth-of-type(2){
    width: 30%;
}
table tr td:nth-of-type(3),table tr th:nth-of-type(3){
    width: 15%;
}
table tr td:nth-of-type(4),table tr th:nth-of-type(4){
    width: 35%;
}
.brief tr td:nth-last-child(1){
    width: 244px;
}
.brief tr td:nth-last-child(2){
    width: 105px;
}
/*
.brief tr td:nth-last-child(2){
    width: 15%;
}
.brief tr td:nth-last-child(3){
    width: 30%;
}
*/
.explain p{
    font-size: 13px;
    padding: 0 10px;
    line-height:24px;
}
.explain p:nth-of-type(1){
    margin-bottom: 10px;
}
.explain p>img{
    width: 6px;
    margin-right: 6px;
}
