* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Microsoft YaHei";
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
#header {
  text-align: center;
  border-bottom: 0.4rem solid #ebf0f2;
  height: 3.2rem;
  background: url("../images/head-card.png") no-repeat;
}
/*#header h3{
  font-size: 26/@r;
  font-weight: normal;
  color: #666;
  margin-top: 22/@r;
  margin-bottom: 20/@r;
}
#header p{
  font-size: 24/@r;
  color: #999;
  padding: 0 26/@r 30/@r;
  line-height:44/@r;
  text-indent: 2em;
}*/
.basic,
.education,
.work,
.colleague,
.skill,
.badness,
.explain {
  padding-bottom: 0.4rem;
  border-bottom: 0.4rem solid #ebf0f2;
}
.basic-header,
.education-header,
.work-header,
.colleague-header,
.skill-header,
.badness-header {
  height: 1.88rem;
  line-height: 1.88rem;
  border-bottom: 1px solid #d4d4d4;
}
.basic-header img,
.education-header img,
.work-header img,
.colleague-header img,
.skill-header img,
.badness-header img {
  width: 6.12rem;
  height: 1.12rem;
  vertical-align: -0.2rem;
}
.basic-header span,
.education-header span,
.work-header span,
.colleague-header span,
.skill-header span,
.badness-header span {
  float: right;
  font-size: 0.6rem;
  margin-right: 0.68rem;
}
.basic-left {
  float: left;
  margin-left: 0.56rem;
}
.basic-left p span:nth-of-type(1),
.eduTable p span:nth-of-type(1),
.eduExplain span:nth-of-type(1),
.workTable p span:nth-of-type(1),
.workExplain span,
.colleagueTable p span:nth-of-type(1),
.colleagueExplain span,
.skillTable p span:nth-of-type(1),
.skillExplain span,
.badnessTable div span:nth-of-type(1) {
  display: inline-block;
  width: 3.8rem;
  font-size: 0.52rem;
  color: #999;
}
.basic-left p span:nth-of-type(2),
.eduTable p span:nth-of-type(2),
.workTable p span:nth-of-type(2),
.colleagueTable p span:nth-of-type(2),
.skillTable p span:nth-of-type(2),
.badnessTable div p {
  font-size: 0.52rem;
  color: #574e5f;
}
.basic-right {
  float: right;
}
.basic-right img {
  width: 2.72rem;
  height: 2.38rem;
  margin-top: 5rem;
  margin-right: 0.7rem;
}
.identityCard {
  float: left;
  width: 100%;
  height: 5.4rem;
  line-height: 5.4rem;
  /*border: 1px solid #000;*/
}
.identityCard > span {
  float: left;
  width: 3.8rem;
  font-size: 0.52rem;
  color: #999;
}
.identityCardPhoto {
  float: left;
  width: 3.58rem;
  height: 4.24rem;
  margin-top: 0.72rem;
  border: 1px  dashed #d4d4d4;
}
.identityCardPhoto img {
  width: 3.58rem;
  height: 4.24rem;
}
/*教育*/
.eduTable,
.workTable,
.colleagueTable,
.skillTable {
  padding-left: 0.56rem;
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 0.4rem;
}
.eduTable h3,
.workTable h3,
.colleagueTable h3,
.skillTable h3 {
  margin-top: 0.52rem;
  margin-bottom: 0.52rem;
  font-size: 0.56rem;
  color: #222;
  font-weight: normal;
}
.eduTable h3 i {
  display: inline-block;
  background: #00adb4 ;
  width: 0.26rem;
  height: 0.26rem;
  margin-right: 0.26rem;
  vertical-align: 1px;
}
.eduTable-left {
  float: left;
}
.eduTable-right {
  float: right;
}
.eduTable-right .discord {
  margin-right: 0.7rem;
}
.eduTable-right .discord img {
  display: block;
  margin-top: 0.52rem;
}
.eduTable-right .accord {
  margin-top: 1.8rem;
  margin-right: 0.7rem;
  display: none;
}
.eduTable-right .accord img {
  width: 2.72rem;
  height: 2.38rem;
}
.eduExplain,
.workExplain,
.colleagueExplain,
.skillExplain {
  padding-left: 0.56rem;
  padding-top: 0.4rem;
}
.eduExplain span,
.workExplain span,
.colleagueExplain span,
.skillExplain span {
  float: left;
  margin-top: 0.28rem;
}
.eduExplain div,
.workExplain div,
.colleagueExplain div,
.skillExplain div {
  display: inline-block;
  width: 10rem;
  height: 1.76rem;
  color: #fa0606;
}
.eduExplain div p,
.workExplain div p,
.colleagueExplain div p,
.skillExplain div p {
  font-size: 0.36rem;
  line-height: 1.8;
  color: #999;
  margin-top: 0.2rem;
}
.education-header h2,
.badness-header h2 {
  width: 4.44rem;
  height: 1.12rem;
  background: url("../images/badnessBG.png") no-repeat;
  background-size: 4.44rem 1.12rem;
  padding-left: 0.4rem;
}
/*工作*/
.workTable-left {
  float: left;
}
.workTable-right {
  float: right;
}
.workTable-right .discord {
  margin-right: 0.6rem;
  display: none;
}
.workTable-right .discord img {
  width: 0.26rem;
  height: 0.42rem;
}
.workTable-right .accord {
  margin-top: 0.4rem;
  margin-right: 0.7rem;
}
.workTable-right .accord img {
  width: 2.72rem;
  height: 2.38rem;
}
/*同事*/
.colleagueTable-left {
  float: left;
}
.colleagueTable-right {
  float: right;
}
.colleagueTable-right img {
  width: 2.72rem;
  height: 2.38rem;
  margin-right: 0.7rem;
  margin-top: 1.4rem;
}
.badnessTable {
  padding-left: 0.56rem;
  padding-bottom: 0.4rem;
}
.badnessTable div p {
  padding-left: 2rem;
  padding-top: 0.4rem;
}
.explain {
  margin-top: 0.6rem;
}
.explain p {
  height: 1.08rem;
  padding-left: 0.56rem;
  margin-bottom: 0.2rem;
}
.explain p:nth-of-type(1) img {
  width: 0.1rem;
  height: 0.48rem;
}
.explain p:nth-of-type(2) img {
  width: 0.22rem;
  height: 0.42rem;
}
.explain p label {
  display: inline-block;
  width: 4rem;
  font-size: 0.36rem;
  margin-right: 0.92rem;
}
.explain p span {
  font-size: 0.52rem;
  color: #999;
}
/*footer*/
.footer {
  border-bottom: 1px solid #999;
  margin-bottom: 0.6rem;
  padding-bottom: 0.6rem;
}
.footer h3 {
  font-size: 0.6rem;
  color: #666;
  text-align: center;
  margin: 0.72rem 0;
  font-weight: 400;
}
.footer input {
  border-radius: 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #999;
  color: #333;
  font-size: 0.56rem;
  -webkit-appearance: none;
  background: none;
  line-height: normal;
  text-align: center;
}
.footer p {
  font-size: 0.52rem;
  color: #999;
  line-height: 1.9;
  padding: 0 0.6rem;
  text-indent: 2em;
}
.footer p:nth-of-type(2) {
  margin-top: 0.4rem;
}
.accordance {
  color: #01cda1!important;
}
.inconformity {
  color: #fa0606!important;
}
.waitColor {
  color: #f6a129!important;
}
.discordFontColor {
  color: #fc6363!important;
}
