@r:50rem;
*{margin: 0;padding: 0}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  font-family:"Microsoft YaHei";
  position: relative;
}
input:disabled, input[disabled],textarea:disabled{
  color: #666;
  -webkit-text-fill-color:#666;
  -webkit-opacity:1;
  opacity: 1;
}

input:focus{
  color:#574e5f;
  caret-color:#574e5f;
}
textarea{
  border-radius: 0;
 /* resize:none;*/
}
input{
  border-radius: 0;
  caret-color:#574e5f;
  background:none;
  outline:none;
  border: none;
  line-height: normal;
  height: 80/@r;
  font-size: 30/@r;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

#header{
  width: 750/@r;
  height: 388/@r;
  background: url("../images/header-bg.png")no-repeat;
  background-size: 750/@r 346/@r;
}
#logo{
  float: left;
  width: 36/@r;
  height: 42/@r;
  margin-left: 30/@r;
  margin-top: 32/@r;
}
#logo img{
  width: 36/@r;
  height: 42/@r;
}
.company{
  display: inline-block;
  width: 620/@r;
  padding-top: 38/@r;
  margin-left: 28/@r;
}
.company .companyName{
  font-size: 30/@r;
}
.company p {
  font-size: 30/@r;
  color: #fff;
  line-height: 54/@r;
}
.company p:nth-of-type(2){
  text-indent: 2em;
  font-size: 28/@r;
}
.warn{
  margin-left: 102/@r;
  margin-top: 14/@r;
}
.warn p{
  color: #feee5f; 
  font-size: 28/@r;
  height: 38/@r;
  line-height: 38/@r;
  padding-left: 54/@r;
}
.warn p img{
  width: 12/@r;
  height: 12/@r;
  vertical-align: 4/@r;
}
/* .interval{
  height: 22/@r;
  background: #ebf0f2;
} */
/*····················*/
.licensedContent{
  width: 694/@r;
  padding-bottom: 26/@r;
  margin: 0 auto;
  margin-top: -110/@r;
  background: #fff;
  border-radius: 5/@r;
  margin-bottom: 22/@r;
}
.licensedContentTitle{
  display: flex;
  align-items: center;
  padding-top: 18/@r;
}
.licensedContentTitle h2{
  font-size: 30/@r;
  font-weight: 400;
  color: #333;
  
}
.licensedContentTitle>img{
  float: left;
  width: 5/@r;
  height: 31/@r;
  margin: 0 12/@r;
}


.licensedContent ul li{
  float: left;
  width: 33.33%;
  text-align: center;
  margin-top: 20/@r;
}
.licensedContent ul li img {
  width: 73/@r;
  height: 73/@r;
}
.licensedContent ul li p{
  font-size: 26/@r;
  color: #333;
}
.interval2{
  margin-top: 56/@r;
}
/*基本信息*/
.formValidation{
  width: 694/@r;
  margin: 0 auto;
  background: #fff;
  margin-top: 28/@r;
}
.formValidation h2{
  font-size: 32/@r;
  font-weight: 400;
  color: #333;
  margin-top: 64/@r;
  margin-left: 30/@r;
  margin-bottom: 35/@r;
}
.formValidation label,.educationTable div, .work div, .skill div{
  width: 694/@r;
  font-size: 30/@r;
  color: #573e5f;
  height: 100/@r;
  line-height: 100/@r;
  display: inline-block;
  border-bottom: 1px solid #e7e7e7;
}
.basic, .education,.workExperience,.skillInformation{
 text-align: center;
 padding-top: 27/@r;
}
.basic img,.skillInformation img{
  width: 268/@r;
  height: 58/@r;
}
.education img,.workExperience img{
  width: 268/@r;
  height: 80/@r;
}
.education strong,.workExperience strong{
  float: right;
  font-size: 20/@r;
  margin-top: 46/@r;
  margin-right: 20/@r;
  color: #bfbfbf;
}
#mesCodeLabel {
  width: 9.3rem;
  border-bottom: none;
}

/*.basic span,.education span,.skillInformation span,.workExperience span{
  color: #bfbfbf;
}*/
.formValidation form label span{
  margin-right: 116/@r;
}
.inpId{
  margin-right: 20/@r!important;
}
.school{
  margin-right: 50/@r!important;
}
.salary, .jobInterview, .inpTel{
  margin-right: 50/@r!important;
}
#validateCode{
  width: 240/@r;
}
#deForm .msCode{
  margin-right: 20/@r;
}
.formValidation .mesBtn{
  display: inline-block;
  width: 186/@r;
  height: 58/@r;
  line-height: 58/@r;
  margin-left: 8/@r;
  border: 1px solid #03aaad;
  border-radius: 10/@r;
  color: #03aaad;
  font-size: 26/@r;
  background: #fff;
  outline: none;
}
.formValidation label input{
  border: none;
  height: 80/@r;
  outline: none;
  font-size: 30/@r;
  color: #666;
}
::-webkit-input-placeholder{
  font-size: 28/@r;
  opacity: 0.6;
}
.isDimission,.identity{
  line-height: 88/@r;
  font-size: 32/@r;
  color: #573e5f;
  height: 88/@r;
  border-bottom: 1px solid #e7e7e7;
}
.isDimission{
  height: 130/@r;
  border-bottom:none;
  padding-bottom: 30/@r;
}
.isDimission .radioS{
  margin-right: 50/@r;
}
.identity span{
  margin-right: 100/@r;
}
.identity{
  height: 100/@r;
}
.isDimission label{
  width: 110/@r;
  height: 60/@r;
  color: #573e5f;
  margin-left: 0;
  line-height: 0;
  display: inline-block;
  border-bottom: none;
}
.isDimission label:nth-of-type(1){
  margin-right: 50/@r;
}
.identity label{
  width: 150/@r;
  height: 100/@r;
  color: #573e5f;
  margin-left: 0;
  line-height: 0;
  display: inline-block;
  border-bottom: none;
}
.isDimission input,.identity input{
  display:none;opacity:0;
}
.isDimission input[type=radio]+label:before,.identity input[type=radio]+label:before{
  display: inline-block;
  width: 26/@r;
  height: 26/@r;
  content: '';
  background: url("../images/radion.png")no-repeat;
  background-size: 26/@r 26/@r;
}
.isDimission input[type=radio]:checked+label:before,.identity input[type=radio]:checked+label:before{
  content:' ';
  background: url("../images/radio.png")no-repeat;
  background-size: 26/@r 26/@r;
}
#deForm label,#deForm>div,.educationTable>div,.skill>div,.work>div{
  display: flex;
  float: left;
  align-items: center;
}
#deForm div{
  width: 694/@r;
}
#deForm label i,#deForm div i,
.educationTable>div i,.skill>div i,.work>div i{
  float: left;
  width: 8/@r;
  height: 8/@r;
  border-radius: 50%;
  margin: 0 22/@r 0 14/@r;
}
/*基本信息收起时*/
.upB{
  line-height: 78/@r;
  padding-top: 50/@r;
}
.upName{
  padding-left: 30/@r;
  font-size: 32/@r;
  color: #574e5f;
  margin-right: 54/@r;
}
.upNames{
  font-size: 30/@r;
  color: #666666;
}
/*教育信息*/
.lineSpacingE,.lineSpacingS,.lineSpacingW,.septal-line{
  height: 22/@r;
  background: #f8f8f8;
}
.educate,.workTitle,.skillTitle{
  display: none;
}
.educate,.educateS,.workTitle,
.workTitleS,.skillTitle,.skillTitleS{
  margin-left: 30/@r;
  font-size: 32/@r;
  margin-top: 10/@r;
  height:80/@r;
  line-height:80/@r;
}
.educate span,.educateS span,.workTitle span,
.workTitleS span,.skillTitle span,.skillTitleS span{
  width: 162/@r;
  height: 42/@r;
  float: left;
  text-align: center;
  margin: 24/@r 0;
  line-height:42/@r;
  background: url("../images/title-bg.png") no-repeat;
  background-size: 162/@r 42/@r;
  color: #fff;
  font-size: 28/@r;
}
.educationTable .deleteBtn,.deleteBtnW,.deleteBtnJ{
  float: right;
  display: flex;
  align-items: center;
  height: 58/@r;
  line-height: 58/@r;
  font-size: 26/@r;
  margin: 16/@r 30/@r 16/@r 0;
  font-style: normal;
  color: #bfbfbf;
}
.educationTable .deleteBtn img,
.deleteBtnW img,.deleteBtnJ img{
  width: 28/@r;
  height: 28/@r;
  margin-right: 8/@r;
}
.educationTable div span{
  margin-right: 50/@r!important;
}
/* .educationTable .career, .educationTable .edu,.educationTable .specialty{
  margin-right: 112/@r;
} */
/* .educationTable,.work,.skill{
  border-top:22/@r solid #ebf0f2 ;
} */
.educationTable1,.work1{
  border-top:none;
}
.educationTable .edu,.educationTable .career {
  margin-right: 110/@r !important;
}

.upEducation,.upSkill{
  line-height: 102/@r;
 /* border-bottom: 1px solid #d4d4d4 ;*/
  font-size: 30/@r;
  color: #bfbfbf;
  text-align: center;
  padding-top: 40/@r;
}

.upEducation img, .upWorkExperience img,.upSkill img{
  width: 292/@r;
  height: 68/@r;
}
/*收起时教育信息*/
.upE{
  padding-top: 40/@r;
}
.upE .ed{
  float: left;
  width: 150/@r;
  font-size: 32/@r;
  color: #574e5f;
  margin-left: 30/@r;
  margin-right: 54/@r;
}
.upE .schName{
  float: left;
  width: 400/@r;
  font-size: 30/@r;
  color: #666;
}
/*工作经历*/


.upWorkExperience{
  line-height: 102/@r;
  font-size: 30/@r;
  color: #bfbfbf;
  text-align: center;
  padding-top: 40/@r;
}
.upEducation p, .upWorkExperience p,.upBasic p{
  font-size: 32/@r;
  color: #bfbfbf;
}
.upBasic p{
  display: inline-block;
}
.upEducation p img, .upWorkExperience p img, .upBasic img,.upSkill p img{
  width: 24/@r;
  height: 13/@r;
}
.work div span,.skill div span{
  margin-right: 50/@r;
}
.work .certifierName,.work .certifierTel{
  margin-right: 20/@r;
}
.work .relation{
  margin-right: 110/@r;
}
.schoolMsg,.firmMsg{
  height: 110/@r!important;
  line-height:110/@r!important;
}
textarea{
  width: 450/@r;
  background: #fff;
  outline: none;
  font-size: 30/@r;
  vertical-align: middle;
  border: none;
  padding-top: 20/@r;
  font-family: Arial;
  resize:none;
}
/*收起时工作经历*/
.upW,.upS{
  padding-top: 40/@r;
}
.upE>p,.upW>p,.upS>p{
  margin-bottom: 10/@r;
}
.upW .wk,.upS .sk{
  float: left;
  width: 150/@r;
  font-size: 32/@r;
  color: #574e5f;
  margin-left: 30/@r;
  margin-right: 54/@r;
}
.upW .wkName,.upS .skName{
  float: left;
  width: 400/@r;
  font-size: 30/@r;
  color: #666;
}
/* .cuttingLine{
  height: 22/@r;
  background: #f8f8f8;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
} */
/*·········*/
.declare{
  margin-top: 80/@r;
}
.declare p{
  text-align: left;
  padding-left: 30/@r;
  color: #574e5f;
  line-height: 58/@r;
}
.declare p:nth-of-type(2){
  font-size: 32/@r;
  padding-right: 40/@r;
}
.sDeclare{
  font-size: 34/@r;

}
.footer{
  margin-top: 66/@r;
  text-align: center;
}
.footer .read{
  font-size: 28/@r;
  color: #999;
  padding-bottom: 10/@r;
}
.footer .agreement{
  font-size: 28/@r;
  color: #574e5f;
}
.input_check{
  visibility: hidden;
}
.checkS{
  vertical-align: -4/@r;
}
.input_check+label{
  display: inline-block;
  width: 29/@r;
  height: 29/@r;
  background: url("../images/checkedN.png")no-repeat;
  background-size: 29/@r 29/@r;

}
.input_check:checked+label{
  display: inline-block;
  width: 29/@r;
  height: 29/@r;
  background: url("../images/checkedY.png")no-repeat;
  background-size: 29/@r 29/@r;
}

#submit{
  width: 430/@r;
  height: 92/@r;
  background: #00adb4;
  font-size: 34/@r;
  color: #fff;
  border: none;
  border-radius: 60/@r;
  margin-bottom: 80/@r;
  outline: none;
}

/*签名*/
.signature{
  margin-top: 88/@r;
  margin-bottom: 100/@r;
}
.sName,.signatureData{
  float: left;
  font-size: 32/@r;
  color: #574e5f;
  text-align: left;
}
.sName{
  margin-left: 30/@r;
  margin-right: 30/@r;
}
.nameSpace,.dataSpace{
  display: inline-block;
  width: 248/@r;
  height: 80/@r;
  border-bottom: 1px solid #666;
  vertical-align: -10/@r;
}
.nameSpace img{
  width: 240/@r;
  height: 80/@r;
}
.dataSpace{
  position: relative;
}
.dataSpace p{
  position: absolute;
  margin-left: 20/@r;
  bottom: 2/@r;
}
.footerDeclare{
  height: 300/@r;
  background: #fff;
  text-align: center;
}
.footerDeclare p{
  font-size: 26/@r;
  color: #999;
  padding-top: 26/@r;
}
.footerDeclare p span{
  color: #00adb4;
}

.hint{
  width: 540/@r;
  padding: 0 80/@r;
  height: 80/@r;
  line-height: 80/@r;
  border-radius: 200/@r;
  text-align: center;
  background: #000;
  opacity: 0.7;
  color: #fff;
  font-size: 30/@r;
  display: none;
  position: fixed;
  left: 0;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 200px;
}

/*签名*/

#clearBtn,#saveBtn,#closeBtn{
  background: #fff;
  border:1px solid #ccc;
  padding: 6px 20px;
  border-radius: 4px;
  line-height: 1.42857143;
}

.htmleaf-container{
  display: none;
  z-index: 9999;
  position: fixed;
  top: 0;

}
.zhezhao,.zhezhaoL{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:#000;
  opacity:0.6;
  display: none;
  z-index: 9000;
}
.zhezhaoL{
  opacity:0.2;
}
.container{
   padding: 0!important;
 }
/*loading*/
#loading{
  position:fixed;
  top: 40%;
  left:50%;
  margin-left:-36px;
  z-index: 9992;
  display: none;
}

@-webkit-keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1); }

  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4); }

  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1); } }
@keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1); }

  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4); }

  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1); } }

.line-scale > div:nth-child(1) {
  -webkit-animation: line-scale 1s 0.1s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale 1s 0.1s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(2) {
  -webkit-animation: line-scale 1s 0.2s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale 1s 0.2s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(3) {
  -webkit-animation: line-scale 1s 0.3s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale 1s 0.3s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(4) {
  -webkit-animation: line-scale 1s 0.4s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale 1s 0.4s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(5) {
  -webkit-animation: line-scale 1s 0.5s infinite cubic-bezier(.2, .68, .18, 1.08);
  animation: line-scale 1s 0.5s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div {
  background-color: #019fe6;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
}

/*确认按钮*/
.finalCheck{
  width: 552/@r;
  height: 508/@r;
  border-radius: 25/@r;
  z-index: 9991;
  position:fixed;
  top: 30%;
  left:50%;
  margin-left:-276/@r;
  background: #fff;
  display: none;
}
.finalCheck img{
  width: 100%;
  height: 144/@r;
}
.finalCheck h2{
  font-size: 32/@r;
  text-align: center;
  margin-top: 20/@r;
  margin-bottom: 20/@r;
  color: #676767;
}
.finalCheck p{
  font-size: 34/@r;
  text-align: center;
  color: #3d3d3d;
  font-weight: bold;
  margin-bottom: 80/@r;
  padding: 0 20/@r;
}
.finalCheck button{
  width: 230/@r;
  height: 88/@r;
  outline: none;
  border: 0;
  border-radius: 10/@r;

}
.confirmBtn{
  background: #574e5f;
  margin-left: 37/@r;
  margin-right: 10/@r;
}
.cancelBtn{
  background: #fff;
  border: 1px solid #c69e56!important;
}
.errorShow{
  border-bottom: 1px solid #00adb4!important;
}
.yellowBg{
  background: #feaf3f;
}
.blueBg{
  background: #00a0e9;
}
.purpleBg{
  background: #f528c7;
}
.greenBg{
  background: #00adb4;
}
.orangeBg{
  background: #f07227;
}
.darkGreenBg{
  background: #00b44c;
}