* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Microsoft YaHei";
  position: relative;
}
input:disabled,
input[disabled],
textarea:disabled {
  color: #666;
  -webkit-text-fill-color: #666;
  -webkit-opacity: 1;
  opacity: 1;
}
input:focus {
  color: #574e5f;
  caret-color: #574e5f;
}
textarea {
  border-radius: 0;
  /* resize:none;*/
}
input {
  border-radius: 0;
  caret-color: #574e5f;
  -webkit-appearance: none;
  background: none;
  outline: none;
  border: none;
  line-height: normal;
  height: 1.6rem;
  font-size: 0.6rem;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
/*基本信息*/
.formValidation h2 {
  font-size: 0.64rem;
  font-weight: 400;
  color: #333;
  margin-top: 1.28rem;
  margin-left: 0.6rem;
  margin-bottom: 0.7rem;
}
.formValidation label,
.educationTable div,
.work div,
.skill div {
  width: 14.4rem;
  font-size: 0.6rem;
  color: #573e5f;
  margin-left: 0.6rem;
  height: 1.76rem;
  line-height: 1.76rem;
  display: inline-block;
  border-bottom: 1px solid #d4d4d4;
}
.basic,
.education,
.workExperience,
.skillInformation {
  border-bottom: 1px solid #d4d4d4;
}
.basic img,
.education img,
.workExperience img,
.skillInformation img {
  float: left;
  width: 7.28rem;
  height: 1.1rem;
  margin: 0.32rem 0;
}
.education strong,
.workExperience strong {
  float: right;
  font-size: 0.4rem;
  margin-top: 0.92rem;
  margin-right: 0.4rem;
  color: #bfbfbf;
}
#mesCodeLabel {
  width: 9.3rem;
  border-bottom: none;
}
.formValidation form label span {
  margin-right: 2.32rem;
}
.inpId {
  margin-right: 0.4rem !important;
}
.school {
  margin-right: 1rem !important;
}
.salary,
.atSalary,
.jobInterview,
.inpTel {
  margin-right: 1rem !important;
}
#validateCode {
  width: 4.8rem;
}
#deForm .msCode {
  margin-right: 0.4rem;
}
.formValidation .mesBtn {
  display: inline-block;
  width: 3.72rem;
  height: 1.16rem;
  line-height: 1.16rem;
  margin-left: 0.16rem;
  border: 1px solid #03aaad;
  border-radius: 0.2rem;
  color: #03aaad;
  font-size: 0.52rem;
  background: #fff;
  outline: none;
}
.formValidation label input {
  border: none;
  height: 1.6rem;
  outline: none;
  font-size: 0.6rem;
  color: #666;
}
::-webkit-input-placeholder {
  font-size: 0.56rem;
  color: #c0c0c0;
}
.isDimission,
.identity {
  line-height: 1.76rem;
  font-size: 0.64rem;
  color: #573e5f;
  margin-left: 0.6rem;
  height: 1.76rem;
  border-bottom: 1px solid #d4d4d4;
}
/*.isDimission{
  display: none;
}*/
.isDimission .radioS {
  margin-right: 1rem;
}
.identity span {
  margin-right: 2rem;
}
.isDimission label {
  width: 2.2rem;
  height: 1.2rem;
  color: #573e5f;
  margin-left: 0;
  line-height: 0;
  display: inline-block;
  border-bottom: none;
}
.identity label {
  width: 3rem;
  height: 1.2rem;
  color: #573e5f;
  margin-left: 0;
  line-height: 0;
  display: inline-block;
  border-bottom: none;
}
.isDimission input,
.identity input {
  display: none;
  opacity: 0;
}
.isDimission input[type=radio] + label:before,
.identity input[type=radio] + label:before {
  display: inline-block;
  width: 0.62rem;
  height: 0.62rem;
  content: '';
  background: url("../images/radion.png") no-repeat;
  background-size: 0.62rem 0.6rem;
}
.isDimission input[type=radio]:checked + label:before,
.identity input[type=radio]:checked + label:before {
  content: ' ';
  background: url("../images/radio.png") no-repeat;
  background-size: 0.62rem 0.6rem;
}
.upBasic {
  line-height: 2.04rem;
  font-size: 0.6rem;
  color: #bfbfbf;
  text-align: center;
  padding-top: 0.4rem;
}
/*基本信息收起时*/
.upB {
  line-height: 1.56rem;
  padding-top: 1rem;
}
.upName {
  padding-left: 0.6rem;
  font-size: 0.64rem;
  color: #574e5f;
  margin-right: 1.08rem;
}
.upNames {
  font-size: 0.6rem;
  color: #666666;
}
/*教育信息*/
.lineSpacingE,
.lineSpacingS,
.lineSpacingW,
.septal-line {
  height: 0.44rem;
  background: #ebf0f2;
}
.educate,
.workTitle,
.skillTitle {
  display: none;
}
.educate,
.educateS,
.workTitle,
.workTitleS,
.skillTitle,
.skillTitleS {
  margin-left: 0.6rem;
  font-size: 0.64rem;
  margin-top: 0.2rem;
}
.educate i,
.educateS i,
.workTitle i,
.workTitleS i,
.skillTitle i,
.skillTitleS i {
  float: left;
  background: #00adb4 ;
  width: 0.28rem;
  height: 0.28rem;
  margin: 0.66rem 0.24rem 0.66rem 0;
}
.educate span,
.educateS span,
.workTitle span,
.workTitleS span,
.skillTitle span,
.skillTitleS span {
  float: left;
  margin: 0.48rem 0;
  line-height: 0.64rem;
}
.deleteBtn,
.deleteBtnW,
.deleteBtnJ {
  float: right;
  width: 3.72rem;
  height: 1.16rem;
  line-height: 1.16rem;
  border: 1px solid #03aaad;
  border-radius: 0.2rem;
  color: #03aaad;
  font-size: 0.52rem;
  background: #fff;
  margin: 0.32rem 0.6rem 0.32rem 0;
}
.educationTable div span {
  margin-right: 1rem;
}
.educationTable .career,
.educationTable .edu,
.educationTable .specialty {
  margin-right: 2.24rem;
}
.educationTable,
.work,
.skill {
  border-top: 0.44rem solid #ebf0f2;
}
.educationTable1,
.work1 {
  border-top: none;
}
.upEducation,
.upSkill {
  line-height: 2.04rem;
  /* border-bottom: 1px solid #d4d4d4 ;*/
  font-size: 0.6rem;
  color: #bfbfbf;
  text-align: center;
  padding-top: 0.8rem;
}
.upEducation img,
.upWorkExperience img,
.upSkill img {
  width: 4.72rem;
  height: 0.62rem;
}
/*收起时教育信息*/
.upE {
  padding-top: 0.8rem;
}
.upE .ed {
  font-size: 0.64rem;
  color: #574e5f;
  margin-left: 0.6rem;
  margin-right: 1.08rem;
}
.upE .schName {
  font-size: 0.6rem;
  color: #666;
}
/*工作经历*/
.upWorkExperience {
  line-height: 2.04rem;
  font-size: 0.6rem;
  color: #bfbfbf;
  text-align: center;
  padding-top: 0.8rem;
}
.upEducation p,
.upWorkExperience p,
.upBasic p {
  font-size: 0.64rem;
  color: #bfbfbf;
}
.upBasic p {
  display: inline-block;
}
.upEducation p img,
.upWorkExperience p img,
.upBasic img,
.upSkill p img {
  width: 0.48rem;
  height: 0.26rem;
}
.work div span,
.skill div span {
  margin-right: 1rem;
}
.work .certifierName,
.work .certifierTel {
  margin-right: 0.4rem;
}
.schoolMsg,
.firmMsg {
  height: 2.2rem !important;
  line-height: 2.2rem !important;
}
textarea {
  background: #f9f7f6;
  outline: none;
  font-size: 0.6rem;
  vertical-align: middle;
  border: none;
  padding-top: 0.4rem;
  font-family: Arial;
}
/*收起时工作经历*/
.upW,
.upS {
  padding-top: 0.8rem;
}
.upW .wk,
.upS .sk {
  font-size: 0.64rem;
  color: #574e5f;
  margin-left: 0.6rem;
  margin-right: 1.08rem;
}
.upW .wkName,
.upS .skName {
  font-size: 0.6rem;
  color: #666;
}
.cuttingLine {
  height: 0.44rem;
  background: #ebf0f2;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
/*·········*/
.declare {
  margin-top: 0.8rem;
}
.declare p {
  text-align: left;
  padding-left: 0.6rem;
  color: #574e5f;
  line-height: 1.16rem;
}
.declare p:nth-of-type(2) {
  font-size: 0.64rem;
  padding-right: 0.8rem;
}
.sDeclare {
  font-size: 0.68rem;
}
.footer {
  margin-top: 0.72rem;
  text-align: center;
}
.footer .read {
  font-size: 0.56rem;
  color: #999;
  padding-bottom: 0.2rem;
}
.footer .agreement {
  font-size: 0.56rem;
  color: #574e5f;
}
.input_check {
  visibility: hidden;
}
.checkS {
  vertical-align: -0.08rem;
}
.input_check + label {
  display: inline-block;
  width: 0.58rem;
  height: 0.58rem;
  background: url("../images/checkedN.png") no-repeat;
  background-size: 0.58rem 0.58rem;
}
.input_check:checked + label {
  display: inline-block;
  width: 0.58rem;
  height: 0.58rem;
  background: url("../images/checkedY.png") no-repeat;
  background-size: 0.58rem 0.58rem;
}
#submit {
  width: 8.6rem;
  height: 1.84rem;
  background: #00adb4;
  font-size: 0.68rem;
  color: #fff;
  border: none;
  border-radius: 1.2rem;
  margin-bottom: 1.6rem;
  outline: none;
}
/*签名*/
.signature {
  margin-top: 0.8rem;
  margin-bottom: 1.4rem;
}
.sName,
.signatureData {
  float: left;
  font-size: 0.64rem;
  color: #574e5f;
  text-align: left;
}
.sName {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}
.nameSpace,
.dataSpace {
  display: inline-block;
  width: 4.96rem;
  height: 1.6rem;
  border-bottom: 1px solid #666;
  vertical-align: -0.2rem;
}
.nameSpace img {
  width: 4.8rem;
  height: 1.6rem;
}
.dataSpace {
  position: relative;
}
.dataSpace p {
  position: absolute;
  margin-left: 0.4rem;
  bottom: 0.04rem;
}
.footerDeclare {
  height: 6rem;
  background: #ebf0f2;
}
.footerDeclare p {
  float: left;
  font-size: 0.52rem;
  color: #999;
  padding-top: 0.52rem;
  padding-left: 2.6rem;
}
.hint {
  width: 10.8rem;
  padding: 0 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  border-radius: 4rem;
  text-align: center;
  background: #000;
  opacity: 0.7;
  color: #fff;
  font-size: 0.6rem;
  display: none;
  position: fixed;
  left: 0;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 200px;
}
/*签名*/
#clearBtn,
#saveBtn,
#closeBtn {
  background: #fff;
  border: 1px solid #ccc;
  padding: 6px 20px;
  border-radius: 4px;
  line-height: 1.42857143;
}
.htmleaf-container {
  display: none;
  z-index: 9999;
  position: fixed;
  top: 0;
}
.zhezhao,
.zhezhaoL {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.6;
  display: none;
  z-index: 9000;
}
.zhezhaoL {
  opacity: 0.2;
}
.container {
  padding: 0!important;
}
/*loading*/
#loading {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -36px;
  z-index: 9992;
  display: none;
}
@-webkit-keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}
@keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}
.line-scale > div:nth-child(1) {
  -webkit-animation: line-scale 1s 0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s 0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(2) {
  -webkit-animation: line-scale 1s 0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s 0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(3) {
  -webkit-animation: line-scale 1s 0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s 0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(4) {
  -webkit-animation: line-scale 1s 0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s 0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(5) {
  -webkit-animation: line-scale 1s 0.5s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s 0.5s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div {
  background-color: #019fe6;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
}
/*确认按钮*/
.finalCheck {
  width: 11.04rem;
  height: 10.16rem;
  border-radius: 0.5rem;
  z-index: 9991;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-left: -5.52rem;
  background: #fff;
  display: none;
}
.finalCheck img {
  width: 100%;
  height: 2.88rem;
}
.finalCheck h2 {
  font-size: 0.64rem;
  text-align: center;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  color: #676767;
}
.finalCheck p {
  font-size: 0.68rem;
  text-align: center;
  color: #3d3d3d;
  font-weight: bold;
  margin-bottom: 1.6rem;
  padding: 0 0.4rem;
}
.finalCheck button {
  width: 4.6rem;
  height: 1.76rem;
  outline: none;
  border: 0;
  border-radius: 0.2rem;
}
.confirmBtn {
  background: #574e5f;
  margin-left: 0.74rem;
  margin-right: 0.2rem;
}
.cancelBtn {
  background: #fff;
  border: 1px solid #c69e56!important;
}
.errorShow {
  border-bottom: 1px solid #00adb4!important;
}
