* {
  margin: 0;
  padding: 0;
}
.succeed {
  text-align: center;
  border-top: 1px solid #adadaf;
  padding-top: 4rem;
}
.succeed img {
  width: 7.84rem;
  height: 6.44rem;
}
.succeed p {
  font-size: 0.68rem;
  color: #666666;
  margin-top: 1.12rem;
}
