* {
  margin: 0;
  padding: 0;
}
.succeed {
  text-align: center;
  border-top: 1px solid #adadaf;
  padding-top: 3.62rem;
}
.succeed img {
  width: 2.36rem;
  height: 2.36rem;
}
.succeed p {
  font-size: 0.68rem;
  color: #574e5f;
  margin-top: 1.12rem;
}
